<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/static/CSS/documentation.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REUNE API Documentation</title>

    </head>
    <body>
        <div id="sidebar">
            <a href="/">

                <img class="sidebar-logo" src="/static/img/condusef-logo-completo.png" alt="condusef-logo" srcset="">
            </a>
            <h2>Documentación</h2>
            <ul>
<!--                 <li id="menu-option" onclick="showContent(1)">Introducción</li>
                <li id="menu-option" onclick="showContent(2)">Objetivo del
                    documento</li>
                <li id="menu-option" onclick="showContent(3)">Marco
                    jurídico-administrativo</li> -->
                <li id="menu-option" onclick="showContent(1)">Definiciones y
                    acrónimos</li>
                <li id="menu-option" onclick="showContent(2)">Catálogos</li>

                <li id="menu-option" onclick="showContent(3)">Consulta Géneral (Endpoints)</li>

                <li id="menu-option" onclick="showContent(4)">Consulta de Seguros (Endpoints)</li>

                <li id="menu-option" onclick="showContent(5)">Consulta de SIC's (Endpoints)</li>

                <li id="menu-option" onclick="showContent(6)">Consideraciones
                    generales</li>
                <li id="menu-option" onclick="showContent(7)">Control del
                    documento</li>
                <li id="menu-option" onclick="showContent(8)">Preguntas frecuentes</li>
                <li id="menu-option" onclick="showContent(9)">Contacto</li>
                <li id="menu-option" onclick="showContent(10)">Descarga de
                     Guías</li>
            </ul>
        </div>

        <div id="content">
            <h1>Documentación de la API REUNE</h1>
            <p id="contentText">Selecciona una sección del menu para ver el
                contenido.</p>
        </div>

        <div id="footer">
            <p>
                Derechos Reservados ©, Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros,
                Av. Insurgentes Sur, N° 762, Col. Del Valle, CP. 03100, Benito Juárez, Ciudad de México. Primera Publicación 2024.
                <br>
                La autorización del uso y reproducción del contenido de este sitio, corresponde únicamente a la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros
            </p>
        </div>

        <script src="/static/scripts/script.js"></script>
    </body>
</html>
